@charset "UTF-8";

:root {
    --cor1: #FFFFFF; 
    --cor2: #000000;
    --cor3: #49a09d; 
    --cor4: #5f2c82;
    --cor5: rgba(0, 0, 0, 0.450);
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--cor3), var(--cor4));
    }

    section#login {
        width: 80vw;
    }

    section#login div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login div#formulario {
        float: right; 
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--cor3), var(--cor4));
    }

    section#login {
        width: 990px;
    }

    section#login div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login div#formulario {
        float: right; 
        width: 50%;
    }
}